@using EscolaDeCursos.WebApp.Modulos.ModuloMatricula

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Matrícula";
}

@model CadastrarMatriculaViewModel

<form class="card border-primary-subtle shadow-sm mx-auto p-4"
      style="max-width: 620px;"
      asp-action="Cadastrar"
      method="post">

    <input asp-for="TurmaId" type="hidden" />

    <div class="mb-3">
        <label asp-for="AlunosId"
               class="form-label fw-semibold text-primary text-uppercase small">
            Aluno
        </label>

        <select asp-for="AlunosId" class="form-select">
            <option value="">Selecione um Aluno</option>

            @foreach (OpcaoAlunoViewModel aluno in Model.Alunos)
            {
                <option value="@aluno.Id">
                    @aluno.Nome
                </option>
            }

        </select>

        <span asp-validation-for="AlunosId"
              class="text-danger small fw-semibold">
        </span>
    </div>


    <div class="d-flex justify-content-end gap-2 mt-4">
        <a class="btn btn-outline-primary rounded-pill px-4"
           asp-action="Listar"
            asp-route-id="@Model.TurmaId">
            Voltar
        </a>

        <button class="btn btn-primary rounded-pill px-4"
                type="submit">
            Confirmar
        </button>
    </div>

</form>